body{
    --background1:rgb(234, 234, 234);
    --background2:rgb(240, 240, 240);
    background-image: linear-gradient(135deg,var(--background1),var(--background2),var(--background1),var(--background2),var(--background1),var(--background2),);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100vh;
    main{
        max-width: 800px;
        margin:0 auto;
        background-color: rgba(255, 0, 0, 0);
        height: 100vh;
        border-radius: 20px;
        h2{
            text-align: center;
            padding: 0;
            margin: 20px;
        }
        #timerDiv{
            box-shadow: 5px 5px 7px rgb(182, 182, 182), -5px -5px 7px white;
            padding: 20px;
            border-radius: 20px;
            margin:2%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover{
                box-shadow:  2px 2px 3px rgb(182, 182, 182), -2px -2px 3px white;
            }
            section{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h1{
                margin: 0;
                padding: 0;
                font-size: 3rem;
                &:hover{
                    color: red;
                }
            }
            h2{
                color: grey;
                margin: 0;
                padding: 0;
                &:hover{
                    color: greenyellow;
                }
            }
        }
        #imgDiv{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 76vh;
            img{
                //margin-top: 35px;
                border-radius: 20px;
                max-width: 800px;
                max-height: 70vh;
                box-shadow: 5px 5px 7px rgb(182, 182, 182), -5px -5px 7px white;
                &:hover{
                    box-shadow:  2px 2px 3px rgb(182, 182, 182), -2px -2px 3px white;
                }
            }
        }
    }
}
@media only screen and (max-width: 710px){
    body{
        main{
            h2{
                font-size: 1.3rem;
            }
            #timerDiv{
                width: 70%;
                margin:0 auto;
                flex-direction: column;
                align-items: baseline;
                h1{
                    font-size: 1.3rem;
                }
                h2{
                    font-size: 0.8rem;
                    margin-left: 10px;
                }
            }
            #imgDiv{
                height: 78vh;
                img{
                    //margin-top: 35px;
                    border-radius: 20px;
                    max-width: 90vw;
                    max-height: 70vh;
                }
            }
        }
    }
}